*{
    margin:0;
    padding: 0;
}
             body{
                background-image: url('C:/Users/RIJO/Desktop/demo1.jpg');
                background-size: cover;
             }

             /* HEADER STYLE*/
    header{
        background-color: black;
        height:5em;
    }
    img{
        margin-left: 10%;
        margin-top: 14px;
    }
    .head-tag{
        float: right;
        margin-top: 33px;
        margin-right: 55px;
    }

    .head-tag a{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration: none;
        color: white;
        border:1px solid white;
        padding: 9px;
        margin-right: 8px;
    }

    .head-tag a:hover{
        color:blue;
        background-color: yellow;
        transition: 0.5s ease-in-out;
    }

    /*END OF HEADER STYLE*/


    /*SIDEBAR STYLE*/
    .sidebar{
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color:white;
        padding: 100px;
    }

    .sidebar li{
        list-style-type: square;
        margin-bottom: 5px;
    }

    /*END OF SIDEBAR STYLE*/

    .login{
        float: right;
        border-color:2px solid red;
        background-color: salmon;
        height: 15em;
        margin-top: 5%;
        margin-right: 2%;
        padding: 30px;
    }

    .login h2{
        text-align: center;
    }

    .login input{
        height: 1.5em;
    }

    .login #login-button{
        width: 100%;
        height: 1.5em;
        background-color: royalblue;
        color: white;
        border:1px solid royalblue

    }

    /*DIV PART*/
    .container{
        /* border: 2px solid black; */
        margin-top: 5%;
        margin-left: 5%;
    }
    .p-box{
        border: 2px solid white;
        width: 21%;
        float: left;
        margin-left: 12px;
        height: 20em;
        padding: 5px;
        background-color: wheat;
    }

    .p-box h3{
        text-align: center;
        text-transform: uppercase;
        

    }
    .p-box p{
        text-align: justify;
        line-height: 1.25em;
    }

    .p-box a{
        text-decoration: none;
        color: red;
    }

    footer{
        background-color: black;
        color: white;
        height: 1.5em;
        margin-top: 30%;
    }

    footer p{
        text-align: center;
    }